.selector-for-some-widget {
    box-sizing: content-box;
}
body{
    background-image: url("./vbanner.jpg");
    background-color: beige;
}

#logoiut{
    width: 30%;
}



#logoiutfooter{
    width: 60%;
}

#logotwitter{
    width: 20%;

}