.selector-for-some-widget {
    box-sizing: content-box;
    width: 1519.2×2093.33;
}
body{
    background-image: url("./vbanner.jpg");
    background-color: beige;
}

.container-fluid{
    height: 7%;
    background-image: url("./vbanner.jpg");
}

.bg-light{
    padding: 0%;
}

#logoiut{
    width: 20%;
}


#logoiutfooter{
    width: 60%;
}

#logotwitter{
    width: 20%;

}

.carousel{
    padding-top: 2%;
}
.carousel-inner{
    height: 78%;

}
#actualite{
    padding-top: 5%;
    text-align: center;
    color: aliceblue;
    padding-top: 2%;
    border-bottom:1px solid blanchedalmond;
    margin-top: 4%;

}
.card-title{

font-family: Arial Black  ;

}

.card{
    width: 30%;
    display: inline-block;
    text-align: center;
    margin: 2%;
    height: 50%;
    margin-top: 6%;
    

}
#divcarte{
    width: 100%;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5% ;

}
#cardun{
    margin-left: 6%;
    margin-top: 0%;
    height: 50%;


}


.card-text{
    color:#8f8f8f
    ;

}







