/***********************************************************************************BODY********************************************************************************/
body{
    background-image: url("./Images page accueil/fondecrans2.jpg");  /*url("./Images page accueil/vbanner.jpg");*/
    background-color: beige;
    background-size: 150%;
    background-attachment: fixed;
}
/******************************************************************************FIN BODY********************************************************************************/





/***********************************************************************************NAV********************************************************************************/
.container-fluid{
    height: 7%;
    background-image: url("./Images page accueil/fondecrans2.jpg");     /*url("./Images page accueil/vbanner.jpg");*/
    background-size: 150%;
    background-attachment: fixed;


}

.bg-light{
    padding: 0%;
}

@media screen and (min-width: 990px){
    #naviut{
        width: 300px;
    }
}

#logoiut{
    width: 20%;
    padding-right: 10px;
}



#navbarDropdown{
    text-align: center;
    color: aliceblue;
}
/******************************************************************************FIN NAV********************************************************************************/




/***************************************************************************Carroussel*******************************************************************************/
.carousel{
    padding-top: 2%;
    width: 95%;
margin-left: 2.5%;
}
.carousel-inner{
    height: 78%;
}
.carroussel-img{
    height: 600px;
}

.paragraphecarrousel{
    font-size: 40px;
}
/***************************************************************************FIN Carroussel****************************************************************************/




/***************************************************************************Titre actualite****************************************************************************/
#actualite{
    padding-top: 2px;
    text-align: center;
    color: aliceblue;
    padding-top: 2%;
    padding-bottom: 30px;
    border-bottom:1px solid blanchedalmond;
    margin-top: 4%;
}
/**************************************************************************FIN Titre actualite*************************************************************************/




/*************************************************************************CARD POUR ACTUALITES*************************************************************************/
.card-title{
    font-family: Arial Black  ;
}

.card{
    width: 30%;
    display: inline-block;
    text-align: center;
    height: 50%;
    margin-top: 20px;
}

#divcarte{
    width: 100%;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5% ;

    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#cardun{
    height: 50%;
    height: 479px;
}

.card-text{
    color:#8f8f8f;
}
/*********************************************************************FIN CARD POUR ACTUALITES*************************************************************************/




/*******************************************************************************Footer********************************************************************************/
#logoiutfooter{
    width: 60%;
}

#logotwitter{
    width: 20%;
}
/**************************************************************************FIN Footer********************************************************************************/
