/***********************************************************************************BODY********************************************************************************/
body{
    background-image: linear-gradient(345deg, #4f3f66 0, #3b2e5f 25%, #1f1f59 50%, #001253 75%, #00004e 100%);
        background-attachment: fixed;
}
/******************************************************************************FIN BODY********************************************************************************/





/***********************************************************************************NAV********************************************************************************/
.container-fluid{
    height: 7%;
    background-image: linear-gradient(345deg, #4f3f66 0, #3b2e5f 25%, #1f1f59 50%, #001253 75%, #00004e 100%);
    background-attachment: fixed;
}

.bg-light{
    padding: 0%;
}

@media screen and (min-width: 990px){
    #naviut{
        width: 300px;
    }
}

#logoiut{
    width: 20%;
    padding-right: 10px;
}







#navbarDropdown{
    text-align: center;
    color: aliceblue;
}
/******************************************************************************FIN NAV********************************************************************************/




/***************************************************************************Carroussel*******************************************************************************/
.carousel{
    padding-top: 2%;
    width: 95%;
    margin-left: 2.5%;
}
.carousel-inner{
    height: 78%;
}
.carroussel-img{
    height: 600px;
}

.paragraphecarrousel{
    font-size: 40px;
}
/***************************************************************************FIN Carroussel****************************************************************************/




/***************************************************************************Titre actualite****************************************************************************/
#actualite{
    padding-top: 2px;
    text-align: center;
    color: aliceblue;
    padding-top: 2%;
    padding-bottom: 30px;
    border-bottom:1px solid blanchedalmond;
    border-width: 2px;
    margin-top: 4%;
    
}
/**************************************************************************FIN Titre actualite*************************************************************************/




/*************************************************************************CARD POUR ACTUALITES*************************************************************************/
.card-title{
    font-family: Arial Black  ;
}

.card{
    width: 30%;
    display: inline-block;
    text-align: center;
    height: 50%;
    margin-top: 20px;
    height: 480px;

}

#divcarte{
    width: 100%;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5% ;

    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#cardun{
    height: 480px;
    
}

#button1{
    margin-top: 25px;

}

.card-text{
    color:#8f8f8f;
}
/*********************************************************************FIN CARD POUR ACTUALITES*************************************************************************/




/*******************************************************************************Footer********************************************************************************/


#logoiutfooter{
    width: 60%;
}

#logoReseaux{
    width: 20%;
}
/**************************************************************************FIN Footer********************************************************************************/



/***************************************************************************Titre actualite****************************************************************************/
#actualite{
    padding-top: 5%;
    text-align: center;
    color: aliceblue;
    padding-top: 2%;
    border-bottom:2.5px solid blanchedalmond;
    margin-top: 4%;
    padding-bottom: 30px;
}
/**************************************************************************FIN Titre actualite*************************************************************************/




/*************************************************************************CARD POUR ACTUALITES*************************************************************************/
.card-title{
    font-family: Arial Black  ;
}

.card{
    width: 30%;
    display: inline-block;
    text-align: center;
    height: 50%;
    margin-top: 20px;
}

#divcarte{
    width: 100%;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5% ;

    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#cardun{
    height: 50%;
}

.card-text{
    color:#8f8f8f;
}
/*********************************************************************FIN CARD POUR ACTUALITES*************************************************************************/



img{
    width: 20%;
}

#divcarte img #mail{
    width: 10%;
}


.map-container-2{
    overflow:hidden;

    }

 .map-container-2 iframe{
height:100%;
width:81.5%;

  
 }

.row{
    margin-bottom: 70px;
    margin-top: 70px;

}

#contact{
    text-decoration: none;
}


.col-md-12{
    margin-left: 9.3%;
}


.mail{
    width: 14.5%;
    float: left;
}

.etude{
    width: 14.5%;
    float: left;

}

.maps{
    width: 12%;
    float: left;
}